
    

<div class="likebody">
<h1>Nouvelle Consultaion </h1>
<form [formGroup]="consultationForm" (ngSubmit)="onSubmit()" class="consultaionform"> 
    <div class="Separation" class="quarter">
        <label for="consultatoinMedecin"><p class="medecinName">Medecin :</p></label>
        <input id="consultatoinMedecin" formControlName="consultatoinMedecin" type="text">
    </div>
<div class="Separation">
    <label for="consultatoinDate">  <p class="medecinName">Date Consultation:</p></label>
    <input id="consultatoinDate" formControlName="consultatoinDate" type="date">
</div>
<div    class="Separation">
    <label for="consultationTime"><p class="medecinName">Heure de Consultaion</p></label>
    <input id="consultationTime" formControlName="consultationTime" type="time" >
</div>

<div class="Separation">
    <label for="consultationAntecedents"><h2 class="title">Consultation Antecedents:</h2></label>
    <textarea class="input-text" id="consultationAntecedents" formControlName="consultationAntecedents"></textarea>
</div>
<div class="Separation">
    <label for="cnosultaionResumer"><h2 class="title">Consultation Resumer:</h2></label>
    <textarea class="input-text" id="cnosultaionResumer" formControlName="cnosultaionResumer"></textarea>
</div>
<div class="Separation">
    <label for="consultaionTestSupplementaires"><h2 class="title">Test Supplementaires:</h2></label>
    <div id="consultaionTestSupplementaires">

        <div class="checkbox-div"></div>
            <input type="checkbox" id="bilanRadiologique" formControlName="BilanRadiologique">
            <label for="bilanRadiologique"><p class="checkbox-label">Bilan Radiologique</p></label>
        </div>
        <div class="checkbox-div">
            <input type="checkbox" id="bilanBiologique" formControlName="BilanBiologique">
            <label for="bilanBiologique"><p class="checkbox-label">Bilan Biologique</p></label>
        </div>
        
</div>

<button type="submit">Submit</button>






</form>


medecin = {{consultationForm.get('consultatoinMedecin')?.value}};
<p>Date Consultation: {{consultationForm.get('consultatoinDate')?.value}}</p>
<p>Heure de Consultation: {{consultationForm.get('consultationTime')?.value}}</p>
<p>Consultation Antecedents: {{consultationForm.get('consultationAntecedents')?.value}}</p>
<p>Consultation Resumer: {{consultationForm.get('cnosultaionResumer')?.value}}</p>
<p>Bilan Radiologique: {{consultationForm.get('BilanRadiologique')?.value ? 'Yes' : 'No'}}</p>
<p>Bilan Biologique: {{consultationForm.get('BilanBiologique')?.value ? 'Yes' : 'No'}}</p>


</div>

