/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;700&display=swap');
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Abhaya Libre', sans-serif;
  background-color: hsla(168, 37%, 25%, 1);
  background-image: url('./../public/green.jpg');
}