.login-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(270deg, rgba(238, 238, 236, 0) 0%, #E8E7E3 19.22%);
  border-radius: 2rem;
  width: 90%;
  padding: 2em;
  margin: 5% auto;
}

.login-content, .login-image {
  width: 100%;
}

.login-image {
  display: flex;
  justify-content: center;
  border-radius: 5rem;
}

.login-container div {
  margin-bottom: 1em;
}

.login-container label {
  display: block;
  margin-bottom: 0.5em;
}

.login-container input {
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box;
  border-radius: 20px;
  border: solid 1px #ccc;
}

.login-container button {
  width: 100%;
  padding: 0.5em;
  background-color: hsla(222, 22%, 15%, 1);
  color: white;
  border-radius: 50px;
}

h2 {
  color: hsla(168, 37%, 25%, 1);
}

.next {
  display: flex;
  justify-content: space-around;
}

@media (min-width: 768px) {
  .login-container {
    flex-direction: row;
    width: 60%;
    margin: 10% auto;
  }

  .login-content, .login-image {
    width: 50%;
  }

  .login-container button {
    width: 5rem;
  }
}

.login-container button {
  width: 100%;
  padding: 0.5em;
  background-color: hsla(222, 22%, 15%, 1);
  color: white;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.login-container button:hover {
  background-color: hsla(222, 22%, 25%, 1);
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .login-container button {
    width: 5rem;
  }
}