<div class="like-body">

    <h1>Diagnostique</h1>   

    <div class="non-header">
    <div class="personalData">
        <h3>Donnees Personelles</h3>
        <p class="nom" >Nom : {{user.nom}}</p>
        <p class="Prenom : ">Prenom : {{user.prenom}}</p>
        <p class="Date de naissance : ">Date de naissance : {{user.datedenaissance}}</p>
        <p class="age">Age : {{user.age}}</p>
    </div>


    <div class="container">
        <h2 class="consultation">Consultations</h2>
<div class="consultaion-box-container">
    @for (consultation of consultations; track consultation.id) {
     <app-consulation-box [date]="consultation.date"></app-consulation-box>
    }
    @for (consultation of consultations; track consultation.id) {
     <app-consulation-box [date]="consultation.date"></app-consulation-box>
    }
    @for (consultation of consultations; track consultation.id) {
     <app-consulation-box [date]="consultation.date"></app-consulation-box>
    }
    @for (consultation of consultations; track consultation.id) {
     <app-consulation-box [date]="consultation.date"></app-consulation-box>
    }
    @for (consultation of consultations; track consultation.id) {
     <app-consulation-box [date]="consultation.date"></app-consulation-box>
    }
    @for (consultation of consultations; track consultation.id) {
     <app-consulation-box [date]="consultation.date"></app-consulation-box>
    }
    @for (consultation of consultations; track consultation.id) {
     <app-consulation-box [date]="consultation.date"></app-consulation-box>
    }
    @for (consultation of consultations; track consultation.id) {
     <app-consulation-box [date]="consultation.date"></app-consulation-box>
    }
    @for (consultation of consultations; track consultation.id) {
     <app-consulation-box [date]="consultation.date"></app-consulation-box>
    }
    @for (consultation of consultations; track consultation.id) {
     <app-consulation-box [date]="consultation.date"></app-consulation-box>
    }
    @for (consultation of consultations; track consultation.id) {
     <app-consulation-box [date]="consultation.date"></app-consulation-box>
    }
 
 </div>
</div>
</div>

<button routerLink="nouvelleConsultation" class="nouvelleConsultation">Nouvelle consultation</button>
 
 
</div>