<form [formGroup]="addUserForm" (ngSubmit)="onSubmit()" class="user-form">
  <h2>Add User</h2>
  <div class="form-group">
      <!-- Fields displayed only for "patient" role -->
  <div *ngIf="addUserForm.get('role')?.value === 'patient'">
    <div class="form-group">
      <label for="numeroSecuriteSocial">Numero de Securite Social:</label>
      <input id="numeroSecuriteSocial" formControlName="numeroSecuriteSocial" type="text" placeholder="Enter numero de securite social">
    </div>
    <div class="form-group">
      <label for="medecinTraitant">Medecin Traitant:</label>
      <input id="medecinTraitant" formControlName="medecinTraitant" type="text" placeholder="Enter medecin traitant">
    </div>
  </div>
    <label for="email">Email:</label>
    <input id="email" formControlName="email" type="email" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="firstName">First Name:</label>
    <input id="firstName" formControlName="firstName" type="text" placeholder="Enter first name">
  </div>
  <div class="form-group">
    <label for="lastName">Last Name:</label>
    <input id="lastName" formControlName="lastName" type="text" placeholder="Enter last name">
  </div>
  <div class="form-group">
    <label for="birthDate">Birth Date:</label>
    <input id="birthDate" formControlName="birthDate" type="date">
  </div>
  <div class="form-group">
    <label for="phone">Phone:</label>
    <input id="phone" formControlName="phone" type="text" placeholder="Enter phone number">
  </div>
  <div class="form-group">
    <label for="adresse">Adresse:</label>
    <input id="adresse" formControlName="adresse" type="text" placeholder="Enter address">
  </div>
  <div class="form-group">
    <label for="role">Role:</label>
    <select id="role" formControlName="role">
      <option value="" disabled selected>Select a role</option>
      <option value="admin">Administrative</option>
      <option value="patient">Patient</option>
      <option value="medecin">Medecin</option>
      <option value="infirmier">Infirmier</option>
      <option value="radiologue">Radiologue</option>
      <option value="laborantin">Laborantin</option>
    </select>
  </div>



  <button type="submit" class="submit-button">Add User</button>
</form>
